{% extends "base.html" %}

{% block left_content %}
  <!-- left content column start -->
  <div>
    <h1 class="page-header">
      {{ config['ABOUT_TITLE'] }}
    </h1>
  </div>

  {% include 'messages.html' %}

  <div class="row">
    <div class="col-md-2 text-right">
      <strong>Name:</strong>
    </div>
    <div class="col-md-4 text-left">
      Ares Ou
    </div>
    <div class="row"></div>
    <div class="col-md-2 text-right">
      <strong>Occupation:</strong>
    </div>
    <div class="col-md-4 text-left">
       <br/>
      (Used to be a consultant at EY China, then an electrician.)
    </div>
    <div class="row"></div>
    <div class="col-md-6">
      <p></p>
      <p>
        This blog is still under construction.
      </p>
    </div>
  </div>

  <!-- left content column end -->
{% endblock %}
