{% extends "base.html" %}

{% block left_content %}
<!-- left content column start -->
  <div>
    <h1 class="page-header">
      {{ config['BLOG_NAME'] }}
      <small>{{ config['BLOG_DESCRIPTION'] }}</small>
    </h1>
  </div>

  {% include 'messages.html' %}

  <!-- Blog Post -->
  <table class="table">
    <tbody>
    {% for post in posts %}
    <tr>
      <td>
        <a href="{{ url_for('post_edit', post_id=post.id )}}">{{ post.title }}</a>
      </td>
      <td>
        <span class="pull-right">
          {{ post.created_time }} |
          <a href="{{ url_for('post_edit', post_id=post.id) }}">Edit</a> |
          <a href="{{ url_for('delete_post', post_id=post.id, request_from='index') }}">Delete</a>
        </span>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="text-center">
    {% include 'pagination.html' %}
  </div>
<!-- left content column end -->
{% endblock %}
