blog/static/css/* linguist-vendored
blog/static/css/main.css linguist-vendored=false
blog/static/js/* linguist-vendored
blog/static/js/main.js linguist-vendored=false
README.md linguist-documentation
