{% extends "base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block left_content %}
<!-- left content column start -->
  <div class="row">
    <h1 class="page-header">
      {{ post.title }}
    </h1>
  </div>

  {% include 'messages.html' %}

  <div id="postMain">
    {{ post.content|parse_markdown|safe }}
  </div>

  <div class="row text-right">
    Total Views: {{ post.view_count }}
  </div>

  <div class="row text-right">
    {% with redirect_target = 'index' %}
      {% include 'post_manage_links.html' %}
    {% endwith %}
  </div>

  <hr>

  <div class="row">
  Comment Area (To be built)
  </div>

  <hr>

<!-- left content column end -->
{% endblock %}
