{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_script %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap-markdown.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jquery.tagit.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/tagit.ui-zendesk.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
{% endblock %}

{% block page_title %}
{% if form.id.data %}
{{ form.title.data }}
{% else %}
{{ config['NEW_POST_PAGE_TITLE'] }}
{% endif %}
{% endblock %}

{% block content_body %}
<!-- whole width editing area start -->
  <div class="col-md-10">
    <div>
      <h1 class="page-header">
        {% if form.id.data %}
        {{ config['EDIT_POST_PAGE_HEADER'] }} - <a href="{{ url_for('post_view', post_id=form.id.data, post_name=form.name.data) }}">{{ form.title.data }}</a>
        {% else %}
        {{ config['NEW_POST_PAGE_HEADER'] }}
        {% endif %}
      </h1>
    </div>

    <div id="new_post_form" class="form-group col-md-12">
      {% include 'messages.html' %}
      <form method="post" role="form">
        {{ form.csrf_token }}
        <div class="post-edit-row">
          {{ form.title.label }}<br />
          {{ form.title(size="50", class="form-control") }}
          {% if form.title.errors %}
          {% for error in form.title.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="post-edit-row">
          {{ form.content.label }}<br />
          {{ form.content(**{"rows": "20", "class": "form-control", "data-provide": "markdown"}) }}
          {% if form.content.errors %}
          {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="post-edit-row">
          {{ form.tags.label }}<br />
          {{ form.tags(size="50", class="form-control") }}
          {% if form.tags.errors %}
          {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="post-edit-row">
          {{ form.name.label }}<br />
          {{ form.name(size="50", class="form-control") }}
          {% if form.name.errors %}
          {% for error in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
        <button class="btn btn-primary pull-right" type="submit">Submit</button>
      </form>
    </div>
  </div>
<!-- left content column end -->
{% endblock %}

{% block bottom_script %}
  <script src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/lib/bootstrap-markdown.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/lib/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
      $('#tags').tagit({
        // Options
        fieldName: "postTags",
        autocomplete: {
          delay: 0,
          minLength: 2,
          source: '/api/v1/available_tags'
        },
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        allowDuplicates: false,
        allowSpaces: false
      });
    });
  </script>
{% endblock %}
