{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_script %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.tagit.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tagit.ui-zendesk.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block page_title %}
{% if form.id.data %}
{{ form.title.data }}
{% else %}
{{ config['NEW_POST_PAGE_TITLE'] }}
{% endif %}
{% endblock %}

{% block content_body %}
<!-- whole width editing area start -->
  <div class="col-md-10">
    <div>
      <h1 class="page-header">
        {% if form.id.data %}
        {{ config['EDIT_POST_PAGE_HEADER'] }}
        {% else %}
        {{ config['NEW_POST_PAGE_HEADER'] }}
        {% endif %}
      </h1>
    </div>

    {% include 'messages.html' %}

    <div id="new_post_form" class="form-group col-md-12">
      <form method="post" role="form">
        {{ form.csrf_token }}
        <p>
          {{ form.title.label }}<br />
          {{ form.title(size="50", class="form-control") }}
          {% if form.title.errors %}
          {% for error in form.title.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </p>
        <p>
          {{ form.content.label }}<br />
          {{ form.content(rows="20", class="form-control") }}
          {% if form.content.errors %}
          {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </p>
        <p>
          {{ form.tags.label }}<br />
          {{ form.tags(size="50", class="form-control") }}
          {% if form.tags.errors %}
          {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </p>
        <p>
          {{ form.name.label }}<br />
          {{ form.name(size="50", class="form-control") }}
          {% if form.name.errors %}
          {% for error in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </p>
        <button class="btn btn-primary pull-right" type="submit">Submit</button>
      </form>
    </div>
  </div>
<!-- left content column end -->
{% endblock %}

{% block bottom_script %}
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/lib/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="http://cdn.ckeditor.com/4.5.5/full/ckeditor.js"></script>
  <script>
    $(document).ready(function(){
      CKEDITOR.replace('content', {
        height: 400,
        autoGrow_onStartup: true
      });  // turn textarea into CKEditor

      $('#tags').tagit({
        // Options
        fieldName: "postTags",
        availableTags: {{ tags|safe }},
        autocomplete: {delay: 0, minLength: 2},
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        allowDuplicates: false,
        allowSpaces: false
      });
    });
  </script>
{% endblock %}
